/* VARAIBLE */
:root {
--major-bg-color: black;
--minor-bg-color: #ebebeb;
--logo-major-color: #febd68;
}

/* BODY */
body {
background-color: var(--minor-bg-color);
}

/* HEADER */
.header {
width: 1600px;
height: 80px;
background-color: var(--major-bg-color);
display: flex; 
justify-content:left;

}

.header .header-container {
    width: 1000px;
    height: 500%;
    display: flex; 
  justify-content:space-between;
  align-items:center;
}
.header .header-container .amazon-logo {
    width: 100px;
    height: 20%;
padding-right: 1500px;
padding-bottom: 320px;
}
.text-center {
text-align: center;
width: 1500px;
margin-top: 50px;
display: flex;
justify-content: center;
align-items: center;
}
.bg-yellow {
    color: #eaeded; 
    background-color:  #f56600
    
}
 
    .py-2 {
    padding: 1rem 0;
}
/* SECTION 1 PHOTO */
.picture-of-gifts {
    width: 1500px;
    height: 250px;
   margin-top: 40px;

    
}
.bg-dark {
    color: #eaeded;
    background-color: #222f3e;
    width: 1600px;
  word-spacing: 1em;
  cursor: pointer;
  height: 30px;
  text-align: initial; right: 10px;
}

#mybtn {
    display: flex;
    color: #eaeded;
    background-color: #222f3e;
cursor: pointer;
font-size: 18px;
width: 1600px;
text-align: center;
justify-content: center;
text-decoration: underline;

}
#mybtn:hover {
    background-color: #555;
}
/* Ending */
.bottom {
width: 1600px;
height: 100px;
background-color: black;

}

.amazon-picture {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 750px;
    
}

/* SECTION 2 */
.section-2 {
    width: 100px;
    height: auto;

}
.section-2 .section-2-container {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.section-2 .section-2-container .section-2-column {
border-top: 10px;
padding: 20px;
background-color: white;
text-decoration: solid;
}
.section-2 .section-2-container .section-2-column img {
margin-top: 50px;
width: 500px;
height: fit-content;
}
    
     